Repository ROCm/rocAL, pull requests merged in 2025-09, with the labels that each got.

#373 Update rocAL API docs for rocJpeg
  docs/examples/notebooks/decoder_examples.ipynb
  rocAL/include/api/rocal_api_data_loaders.h
  rocAL_pybind/amd/rocal/decoders.py
Labels: enhancement, ci:precheckin

#380 Docs - added some info about rocJPEG decoding (#376)
  README.md
  docs/conceptual/overview.rst
  docs/install/rocAL-build-and-install.rst
  docs/install/rocAL-prerequisites.rst
Labels: documentation, ci:docs-only

#379 removing SP6
  README.md
  docs/install/rocAL-prerequisites.rst
Labels: documentation, ci:docs-only

#378 rocAL DecoderType enum change
  rocAL/include/decoders/audio/audio_decoder_factory.hpp
  rocAL/include/decoders/image/decoder.h
  rocAL/include/decoders/image/fused_crop_decoder.h
  rocAL/include/decoders/image/open_cv_decoder.h
  rocAL/include/decoders/image/rocjpeg_decoder.h
  rocAL/include/decoders/image/rocjpeg_fused_crop_decoder.h
  rocAL/include/decoders/image/turbo_jpeg_decoder.h
  rocAL/source/api/rocal_api_data_loaders.cpp
  rocAL/source/decoders/image/decoder_factory.cpp
  rocAL/source/decoders/video/video_decoder_factory.cpp
  rocAL/source/loaders/image/image_loader.cpp
  rocAL/source/loaders/image/image_read_and_decode.cpp
  rocAL/source/loaders/video/video_loader.cpp
Labels: ci:precheckin

#381 Changed the link to MIVisionX openVX install
  docs/install/rocAL-prerequisites.rst
Labels: documentation, ci:docs-only
